<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/erro.css}">
</head>
<body>
    <div class="conteudo">
             <h1>Erro 404</h1>
             <img src="https://files.catbox.moe/ulosd6.png" alt="Um gato chorando">
             <p>A página que você procura não existe. Sinto muito.</p>
    </div>
</body>
</html>