<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Matricula</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="stylesheet" th:href="@{/css/detalhes.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Detalhes da Matricula</h1>
    <p>Nome do Aluno: <span th:text="${matriculas.aluno.nome}"></span></p>
    <p>CPF do Aluno: <span th:text="${matriculas.aluno.cpf}"></span></p>
    <p>Data de Nascimento do Aluno: <span th:text="${matriculas.aluno.dataNasc}"></span></p>
    <p>E-mail do Aluno: <span th:text="${matriculas.aluno.email}"></span></p>
    <p>Telefone do Aluno: <span th:text="${matriculas.aluno.telefone}"></span></p>
    <p>Endereço do Aluno: <span th:text="${matriculas.aluno.endereco}"></span></p>
    <p>Cidade do Aluno: <span th:text="${matriculas.aluno.cidade}"></span></p>
    <p>CEP do Aluno: <span th:text="${matriculas.aluno.cep}"></span></p>
    <p>UF do Aluno: <span th:text="${matriculas.aluno.uf}"></span></p>
    <p>Prontuário do Aluno: <span th:text="${matriculas.aluno.prontuario}"></span></p>
    <p>Data de  Ingresso do Aluno: <span th:text="${matriculas.aluno.ano_ingresso}"></span></p>
    <p>Data de Saída do Aluno: <span th:text="${matriculas.aluno.ano_saida}"></span></p>
    <p>Nome do Professor da Oferta de Disciplina: <span th:text="${matriculas.ofertaDisc.professor.nome}"></span></p>
    <p>Nome do Curso da Oferta de Disciplina: <span th:text="${matriculas.ofertaDisc.curso.nome}"></span></p>
    <p>Nome da Disciplina da Oferta de Disciplina: <span th:text="${matriculas.ofertaDisc.disciplina.nome}"></span></p>
    <br>
    <form method="get" th:action="@{/listarMatriculas}">
        <button>Voltar para a tabela de Matrículas</button>
    </form>
</html>