<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Oferta de Disciplina</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="stylesheet" th:href="@{/css/detalhes.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Detalhes da Oferta de Disciplina</h1>
    <p>Nome do Professor: <span th:text="${ofertas.professor.nome}"></span></p>
    <p>CPF do Professor: <span th:text="${ofertas.professor.cpf}"></span></p>
    <p>Data de Nascimento do Professor: <span th:text="${ofertas.professor.dataNasc}"></span></p>
    <p>E-mail do Professor: <span th:text="${ofertas.professor.email}"></span></p>
    <p>Telefone do Professor: <span th:text="${ofertas.professor.telefone}"></span></p>
    <p>Endereço do Professor: <span th:text="${ofertas.professor.endereco}"></span></p>
    <p>Cidade do Professor: <span th:text="${ofertas.professor.cidade}"></span></p>
    <p>CEP do Professor: <span th:text="${ofertas.professor.cep}"></span></p>
    <p>UF do Professor: <span th:text="${ofertas.professor.uf}"></span></p>
    <p>Siape do Professor: <span th:text="${ofertas.professor.siape}"></span></p>
    <p>Área do Professor: <span th:text="${ofertas.professor.area}"></span></p>
    <p>Formação do Professor: <span th:text="${ofertas.professor.formacao}"></span></p>
    <p>Nome do Curso: <span th:text="${ofertas.curso.nome}"></span></p>
    <p>Descrição do Curso: <span th:text="${ofertas.curso.desc}"></span></p>
    <p>Turno do Curso: <span th:text="${ofertas.curso.turno}"></span></p>
    <p>Número de Semestres do Curso: <span th:text="${ofertas.curso.numeroSemestres}"></span></p>
    <p>Nome da Disciplina: <span th:text="${ofertas.disciplina.nome}"></span></p>
    <p>Descrição da Disciplina: <span th:text="${ofertas.disciplina.desc}"></span></p>
    <p>Número de Semestres da Disciplina: <span th:text="${ofertas.disciplina.numeroSemestres}"></span></p>
    <p>Carga Horária da Disciplina: <span th:text="${ofertas.disciplina.cargaHoraria}"></span></p>
    <br>
    <form method="get" th:action="@{/listarOfertasDisciplina}">
        <button>Voltar para a Tela de Cadastro</button>
    </form>
</body>
</html>