<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Disciplina</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="stylesheet" th:href="@{/css/detalhes.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
     <link rel="stylesheet" th:href="@{/css/tabelas.css}">
</head>
<body>
    <h1>Detalhes da Disciplina</h1>
    <p>Nome: <span th:text="${disciplina.nome}"></span></p>
    <p>Descrição: <span th:text="${disciplina.desc}"></span></p>
    <p>Número de Semestres: <span th:text="${disciplina.numeroSemestres}"></span></p>
    <p>Carga Horária: <span th:text="${disciplina.cargaHoraria}"></span></p>
    <br>

    <h2>Livros de Referência</h2>

<div th:if="${referencias == null or referencias.isEmpty()}">
    <p>Nenhum livro de referência cadastrado para esta disciplina.</p>
</div>

<div th:unless="${referencias == null or referencias.isEmpty()}">
    <table border="1px">
        <thead>
            <tr>
                <th>Capa</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Ano</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${referencias}">
                <td>
                    <img th:if="${r.livro.capa != null and !r.livro.capa.isEmpty()}"
                         th:src="@{'/' + ${r.livro.capa}}"
                         alt="Capa"
                         style="width: 50px; height: auto;">
                </td>
                <td th:text="${r.livro.titulo}"></td>
                <td th:text="${r.livro.autor}"></td>
                <td th:text="${r.livro.editora}"></td>
                <td th:text="${r.livro.anoPublicacao}"></td>
            </tr>
        </tbody>
    </table>
</div>
    <form method="get" th:action="@{/listarDisciplinas}">
        <button>Voltar para a tabela de Disciplinas</button>
    </form>
</body>
</html>