<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Disciplinas</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>
<body>
    <div class="conteudo">
        <div class="principal">
          <form method="post" th:action="@{/cadastrarDisciplina}">
             <h1>Cadastro de Disciplinas</h1>
             <label>Nome da Disciplina:</label>
             <input type="text" th:name="nome_disc" required>
             <label>Descrição da Disciplina: </label>
             <input type="text" th:name="desc_disc" required>
             <label>Número de Semestres: </label>
             <input type="number" th:name="num_sem_disc" required>
             <label>Carga Horária: </label>
             <input type="number" th:name="carga_horaria" required>
             <button type="submit">Cadastrar Disciplina</button>
             </form>
        </div>
</body>
</html>