<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Ofertas de Disciplinas</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>
<body>
    <div class="conteudo">
        <div class="principal">
          <form method="post" th:action="@{/atualizarOfertaDisciplina}">
             <h1>Editar Ofertas de Disciplinas</h1>
             <input type="hidden" name="id" th:value="${oferta.id}">
             <label>Professor:</label>
             <select name="id_prof" required>
                    <option value="">Selecione o professor inscrito: </option>
                    <option th:each="professor : ${professores}" th:value="${professor.id}" th:text="${professor.nome}"  th:selected="${professor.id == oferta.professor.id}"></option>
             </select>
             <label>Curso: </label> 
             <select name="id_curso" required>
                    <option value="">Selecione o curso: </option>
                    <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nome}"  th:selected="${curso.id == oferta.curso.id}"></option>
             </select>
             <label>Disciplina: </label> 
             <select name="id_disc" required>
                    <option value="">Selecione a disciplina: </option>
                    <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}" th:selected="${disciplina.id == oferta.disciplina.id}"></option>
             </select>
             <button type="submit">Edite a oferta</button>
             </form>
        </div>
</body>
</html>