<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empréstimo</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/formulario.css}">
</head>
<body>
    <div class="conteudo">
        <div class="principal">
          <form method="post" th:action="@{/atualizarEmprestimo}">
             <h1>Empréstimos</h1>
             <input type="hidden" name="id" th:value="${emprestimos.id}">
             <label>Data de Empréstimo: </label>
             <input type="date" th:name="data_emprestimo" th:value="${emprestimos.data_emprestimo}" required>
             <label>Data de Devolução: </label>
             <input type="date" th:name="data_devolucao" th:value="${emprestimos.data_devolucao}" required>
             <label>Aluno que irá emprestar:</label>
             <select name="id_aluno" required>
                    <option value="">Selecione o nome do aluno:  </option>
                    <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}" th:selected="${aluno.id == emprestimos.aluno.id}"></option>
             </select>
             <label>Livro que será emprestado:  </label> 
             <select name="id_oferta_disc" required>
                    <option value="">Selecione o título do livro: : </option>
                    <option th:each="livro : ${livros}" th:value="${livro.id}" th:text="${livro.titulo}" th:selected="${livro.id == emprestimos.livro.id}"></option>
             </select>
             <button type="submit">Editar Empréstimo</button>
             </form>
        </div>
</body>
</html>