<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Empréstimos</title>
    <link rel="icon" type="image/x-icon" href="https://files.catbox.moe/no1m7b.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/tabelas.css}">
</head>
<body>
    <h1>Empréstimos</h1>
    <div th:if="${emprestimos.isEmpty()}" class="sem-resultados">
                <p class="sem-resultados">Nenhum empréstimo foi encontrado.</p>
                <a th:href="@{/telainicial}" class="btn-voltar">Voltar para a tela inicial</a>
    </div>
    <div th:unless="${emprestimos.isEmpty()}">
    <div th:if="${erro}" style="color: red; font-weight: bold;">
        <span th:text="${erro}"></span>
    </div>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data de Empréstimos</th>
                <th>Data de Devolução</th>
                <th>Nome do Aluno</th>
                <th>Título do Livro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="emprestimo : ${emprestimos}">
                <td><span th:text="${emprestimo.id}"></span></td>
                <td th:text="${emprestimo.dataEmprestimo}"></td>
                <td th:text="${emprestimo.dataDevolucao}"></td>
                <td th:text="${emprestimo.aluno.nome}"></td>
                <td th:text="${emprestimo.livro.titulo}"></td>
                <td>
                      <a th:href="@{/emprestimo/{id}(id=${emprestimo.id})}" class="btn-tabela btn-ver">Ver Detalhes</a>
                      <a th:href="@{/emprestimo/{id}/editar(id=${emprestimo.id})}" class="btn-tabela btn-editar">Editar</a>
                      <a th:href="@{/emprestimo/{id}/deletar(id=${emprestimo.id})}" class="detalhes deletar">Remover</a>
                </td>
             </tr>
        </tbody>
    </table>
    <br>
    <form method="get" th:action="@{/telainicial}">
        <button>Voltar para a Tela Inicial</button>
    </form>
    </div>
</body>
